.App {
  text-align: center;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: black;
  padding: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}
.App-main {
  padding-top: 60px;
}
