.App {
  text-align: center;
  background-color: black;
  color: white;
}

.App-header {
  background-color: black;
  padding: 20px;
}

.App-link {
  color: #61dafb;
}
nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}
