body.stories-page {
    background-color: white;
    color: black;
}

.stories-header {
    background-color: black;
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.stories-header nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.stories-header nav a:hover {
    text-decoration: underline;
}

.search-bar {
    width: 80%;
    max-width: 800px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 60px; 
    left: 50%;
    transform: translateX(-50%);
    
    padding: 10px;
    border-radius: 25px;
    z-index: 1; 
}

.search-bar input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    background-color: #333;
    color: white;
    text-align: center;
}

.Stories {
    padding: 20px;
    background-color: white; 
    color: black;
    margin-top: 120px; 
}

.category {
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.category img {
    width: 90%;
    height: auto;
    border-radius: 5px;
}

.category h2 {
    margin-top: 10px;
    color: #333;
}

.articles {
    margin-top: 40px;
}

.articles h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

.article {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.article:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
